{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Record</title>
    <link rel="stylesheet" type="text/css" href="{% static 'doctors/datetimepicker/jquery.datetimepicker.css' %}">
    {{ wizard.form.media }}
</head>
<body>
    <p>Шаг {{ wizard.steps.step1 }} из {{ wizard.steps.count }}</p>

    <form method="post">{% csrf_token %}
        <div class="records" data-records="{{ records }}"></div>
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form.as_p }}
            {% endfor %}
        {% else %}
            {{ wizard.form.as_p }}
        {% endif %}
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">Начало</button>
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Предыдущий шаг</button>
        {% endif %}
        <input type="submit" value="Продолжить">
    </form>
    <script src="{% static 'doctors/datetimepicker/jquery.js' %}"></script>
    <script src="{% static 'doctors/datetimepicker/jquery.datetimepicker.full.min.js' %}"></script>
    <script src="{% static 'doctors/js/script.js' %}"></script>
</body>
</html>